<div class="row">
  <div class="col-sm-3">
    <h1 class="h_profile"> {{ profile.user.username }}</h1>
    <span class="badge">Slapped Up:
      {{ profile.user.recipes.length }} recipes
    </span>
  </div>
  <div class="col-sm-3">
    <img class="profPic" ng-src="{{ profile.user.profileImage }}" alt="">
  </div>
  <div class="col-sm-6">
    <h2>Who I am and what I do: </h2>
    <p>CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA CHINA.
    </p>
  </div>
</div>

<div class="row user_recipes">
  <div class="chef_recipeidx">
  <h2>{{ profile.user.username }}'s Cookbook</h2>
  </div>
  <a ng-repeat="recipe in profile.user.recipes" ui-sref="recipesShow({id: recipe._id})">
    <div class=" profile-recipe-image-2 col-xs-12 col-sm-6 col-md-4">
      <div class="profile-recipe-image" style="background: url({{ recipe.images.small }}) no-repeat center center;">
        <span class="cuisine_name">{{recipe.name}}</span>
      </div>
    </div>
  </a>
</div>
