
<img class="logo img-responsive" src="/images/beeflogo.png" alt="logo">

<h3>Being a <span class="vegan">vegan</span> does not mean that you don't crave certain foods.</h3>
<h3><span class="not">Not</span> being a <span class="vegan">vegan</span> does not mean that you have to be deprived of certain foods.</h3>
<h2>Choose your vice...</h2>


<div class="row">
  <div class="col-xs-12 col-sm-6 cuisine_image" ng-repeat="cuisine in cuisines.cuisines" style="height: 400px; margin-bottom: 30px;">

    <cuisine cuisine="cuisine"></cuisine>

  </div>
</div>
