
<img class="logo img-responsive" src="/images/beeflogo.png" alt="logo">

<h3>Being a <span class="vegan">vegan</span> does not mean that you don't crave certain foods.</h3>
<h3><span class="not">Not</span> being a <span class="vegan">vegan</span> does not mean that you have to be deprived of certain foods.</h3>
<h2>Choose your vice...</h2>


<div class="row">
  <div class="col-xs-12 col-sm-6 cuisine_image" ng-repeat="cuisine in cuisines.cuisines">
    <a ui-sref="cuisinesShow({id: cuisine._id })">
      <span class="cuisine_name">{{ cuisine.name }}</span>
      <img class="index_img img-responsive" ng-src="{{ cuisine.images.small }}"></a>
    </div>
  </div>
