
<div
  class="row"
  style="
    height: 500px;
    background: url({{ recipes.recipe.images.small }}) no-repeat center center"
  >
</div>

<h1>{{ recipes.recipe.name }}</h1>

<div class="row chef_recipeidx">
  <h2 class="pull-left">Chef:
    <a ui-sref="profile({id:recipes.recipe.chef._id})">{{ recipes.recipe.chef.username }}</a>
  </h2>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>Ingredients</h2>
    <div class="panel panel-default" ng-repeat="ingredient in recipes.recipe.ingredients">
      <div class="panel-body">
        {{ ingredient.measurement }} {{ ingredient.ingredient.name }}
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h2>Instructions</h2>
    <div class="panel panel-default" ng-repeat="instruction in recipes.recipe.instructions">
      <div class="panel-body">
        {{ instruction.content }}
      </div>
    </div>
  </div>
</div>
