<!DOCTYPE html>
<html ng-app="veganChef">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vegan Chef</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans+Condensed:300" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">WHAT'S YOUR BEEF</a>
      <a ng-show="main.user" class="navbar-brand" ui-sref="account">{{ main.user.username  }}</a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav pull-right">
        <li ng-hide="main.user"><a ui-sref="register">Register</a></li>
        <li ng-hide="main.user"><a ui-sref="login">Login</a></li>
        <li ng-show="main.user"><a ng-click="main.logout()" href="javascript:void(0)">Logout</a></li>
        <li ng-show="main.user"><a ui-sref="cuisinesIndex">Cuisines</a></li>
        <!-- <li ng-show="main.user"><a ui-sref="profile">Profile</a></li> -->
      </ul>
    </div>
  </nav>
  <main class="container-fluid" ui-view></main>
  <footer>
      <p class="text-muted">What's your Beef &copy</p>
      <p class="text-muted"> 59 Lincoln Rd, London N2, UK,(020) 3677 7460</p>
  </footer>
</body>
</html>
