@import 'colors';

.navbar-default {
  .navbar-brand {
    color: $color;
  }
  .navbar-brand:hover {
    color: $hover;
  }
  .navbar-nav {
    li {
      a {
        color: $color;
        font-size: 18px;
      }
      a:hover {
        color: $hover;
      }
    }
  }
  .navbar-toggle {
    color: $hover;
    border-color: $hover;
  }
  border-bottom: 2px solid $hover;
  border-radius: 0px;
  background-color: rgba(232, 226, 183, 0.1);
}

.navbar-default {
  .navbar-toggle {
    .icon-bar {
      background-color: $hover;
    }
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $hover;
}
