// Import all of your scss files here
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Josefin Sans', sans-serif;


body {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

a {
  text-decoration: none;
}

.index_img {
  width: 100%;
  margin: 20px;
}

.acc_name {
  text-decoration: none;
}

.cuisine_name {
  position: relative;
  top: 190px;
  right: 5px;
  z-index: 5;
  font-size: 40px;
  color: sienna;
  font-family: 'Open Sans Condensed', sans-serif;

}

.index_img {
  position: relative;
  z-index: -1;
  opacity: 0.3;
}
